<div class="blog-post">
    <h2 class="blog-post-title">Conversor de Divisas</h2>
    <p class="blog-post-meta">Monday 9, 2020 by <a href="#">Manuel, Santos, Steven</a></p>

    <p>Nuestro conversor de moneda te permite conocer el valor del euro, el valor del dolar, el valor de la libra esterlina, el peso mexicano, peso argentino y muchas más, incluidas las monedas del resto de países de habla hispana..</p>
    <hr>
    <p>Para convertir una moneda en otra, se debe introducir una cantidad de dinero  <strong>(por ejemplo “1000”)</strong> y elegir la moneda que se quiere cambiar  <strong>(por ejemplo “Euro”).</strong></p>
    <blockquote>
    <p>Después, seleccionar la moneda en la que se desea conocer el valor de la otra <strong>(por ejemplo “Dólar estadounidense”).</strong> El conversor de monedas calculará cuánto vale la cantidad puesta de la primera moneda en precios de la segunda.</p>
    </blockquote>
    <p>Por ejemplo si hemos puesto 1000 euros a dólares nos dirá cuántos dólares son 1000 euros.</p>
    <h3>¿Para qué sirven los conversores de monedas?</h3>
    <p>Un conversor de divisas ofrece información en tiempo real del <a href="#">tipo de cambio</a> actual del mercado, de manera que el resultado obtenido nos ofrece el valor de una <a href="#">divisas</a>con respecto a otra divisa.</p>
    <p><strong>Valor de mercado de las divisas es muy útil para:</strong></p>
    <ul>
      <li>Estimar el valor de los bienes o servicios en otra divisa.</li>
      <li>Contabilidad básica y facturación.</li>
      <li>Preparación de planes e informes financieros.</li>
    </ul>
    <p><strong>Valor de la moneda fluctúa constantemente y es afectado por una variedad de factores diferentes, incluyendo:</strong></p>
    <ol>
      <li>Políticas monetarias del banco central.</li>
      <li>La inflación relativa con el otro país.</li>
      <li>El valor de las importaciones y exportaciones de la nación.</li>
      <li>La relativa estabilidad política del país.</li>
      <li>Desastres naturales.</li>
      <li>Las deudas públicas del país con otros países.</li>
      <li>La fluctuación de las tasas de inflación del condado.</li>
    </ol>
    <h3>¿Qué es el tipo de cambio?</h3>
    <p>El tipo de cambio o tasa de cambio es la relación entre el valor de una divisa y otra, es decir, nos indica cuantas monedas de una divisa se necesitan para obtener una unidad de otra.</p>
  </div>
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    Todas las conversiones disponibles
  </h3>
  <div class="row">
    <div class="col Ci"> <span class="flag-icon flag-icon-eu imgRedo"></span><p>EUR- Euro</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-jp imgRedo"></span><p>Yan- Japones</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-us imgRedo"></span><p>USD- Dolar Estadounidense</p>  </div>
  </div>
  
  <div class="row">
    <div class="col Ci"> <span class="flag-icon flag-icon-gb imgRedo"></span><p>GBP- Libra esterlina</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-mx imgRedo"></span><p>MXN- Peso Mexicano</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-ru imgRedo"></span><p>RUB- Rublo ruso</p>  </div>
  </div>
  <div class="row">
    <div class="col Ci"> <span class="flag-icon flag-icon-cn imgRedo"></span><p>CNY- Yuan chino</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-br imgRedo"></span><p>BRL- Real brasileño</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-ca imgRedo"></span><p>CAD- Dólar canadiense</p>  </div>
  </div>
  <div class="row">
    <div class="col Ci"> <span class="flag-icon flag-icon-ch imgRedo"></span><p>SFr- Franco suizo</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-hk imgRedo"></span><p>HKD- Dólar hongkonés</p>  </div>
    <div class="col Ci"> <span class="flag-icon flag-icon-au imgRedo"></span><p>AUD- Dólar australiano</p>  </div>
  </div>