
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
      
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Acerca de nosotros:</h5>
              <p>Desarrolladores:</p>
              <p>Santos Ronaldo, Lemus Torres</p>
              <p>Manuel Alberto, Mata Durán</p>
              <p>Steven Alexis, Gómez Reyes</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
          
            <hr class="clearfix w-100 d-md-none">
        
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 mx-auto">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
              <ul class="list-unstyled">
                <li>
                  <br>
                  <a href="mailto:santosronaldolemus@gmail.com">santosronaldolemustorres@gmail.com</a>
                </li>
                <li>
                  <br>
                  <a href="mailto:mata.duran@gmail.com">mata.duran@gmail.com</a>
                </li>
                <li>
                  <br>
                  <a href="mailto:stevengo602@gmail.com">stevengo602@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Registrarse Gratis</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Regístrate!</a>
          </li>
        </ul>
        <hr>
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
        
          <a class="btn-floating btn-fb mx-1">
            <button type="button" class="btn btn-brand btn-sm btn-facebook mr-1" style="margin-bottom: 4px">
              <i class="fa fa-facebook"></i>
              <a style="color: white;" href="https://facebook.com"><span>Facebook</span></a>
            </button>
            
          </a>
     
       
          <a class="btn-floating btn-tw mx-1">
            <button type="button" class="btn btn-brand btn-sm btn-twitter mr-1" style="margin-bottom: 4px">
              <i class="fa fa-twitter"></i>
              <a style="color: white;" href="https://Twitter.com"> <span>Twitter</span></a>
            </button>
           
          </a>

       
          <button type="button" class="btn btn-brand btn-sm btn-github mr-1" style="margin-bottom: 4px">
            <i class="fa fa-github"></i>
            <a style="color: white;" href="https://Github.com"><span>Github</span></a>
          </button>
   
        
          <a class="btn-floating btn-li mx-1">
            <button type="button" class="btn btn-brand btn-sm btn-linkedin mr-1" style="margin-bottom: 4px">
              <i class="fa fa-linkedin"></i>
              <a style="color: white;" href="https://www.linkedin.com/login/es"><span>LinkedIn</span></a>
            </button>
            <i class="fab fa-linkedin-in"> </i>
          </a>
       
        
      </ul>
        <!-- Social buttons -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="http://www.udb.edu.sv/udb/"> Universidad Don Bosco</a>
        </div>
        <!-- Copyright -->
      
